amqp==2.6.1
attrs==21.2.0
awesome-slugify==1.6.5
-e git+https://github.com/datopian/babbage.git@3cffb4415b8b29503ab2939917e2aadc9474bb2b#egg=babbage
banal==1.0.6
billiard==3.6.4.0
bitarray==2.3.4
bitstring==3.1.9
blessed==1.17.6
boto3==1.19.9
botocore==1.22.9
cached-property==1.5.2
cachetools==4.2.4
celery==4.4.7
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
click==7.1.2
colorama==0.4.4
dataflows==0.3.8
datapackage==1.15.2
datapackage-pipelines==2.2.10
datapackage-pipelines-aws==0.0.23
-e git+https://github.com/datopian/datapackage-pipelines-fiscal.git@ad8dcdae109f5112bd874cfec2b51c7d9ea8474d#egg=datapackage_pipelines_fiscal
decorator==5.1.0
elasticsearch==5.5.3
et-xmlfile==1.1.0
Flask==1.1.4
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
Flask-Jsonpify==1.5.0
frictionless==4.18.2
globster==0.1.0
google-api-core==2.2.2
google-auth==2.3.3
google-cloud-core==2.1.0
google-cloud-storage==1.42.3
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
grako==3.10.1
greenlet==1.1.2
idna==3.3
ijson==3.1.4
inquirer==2.7.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
jsonlines==2.0.0
jsonpointer==2.1
jsonschema==4.1.0
kombu==4.6.11
kvfile==0.0.13
linear-tsv==1.1.0
marko==1.1.0
MarkupSafe==2.0.1
mistune==0.8.4
normality==2.2.3
openpyxl==3.0.9
os-api-cache==0.0.7
os-package-registry==0.0.21
petl==1.7.4
protobuf==3.19.1
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybloom-live==3.1.0
pyrsistent==0.18.0
python-dateutil==2.8.0
python-dotenv==0.19.1
python-editor==1.0.4
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
readchar==2.0.1
redis==3.5.3
regex==2021.11.2
requests==2.26.0
rfc3986==1.5.0
rsa==4.7.2
s3transfer==0.5.0
shellingham==1.4.0
simpleeval==0.9.10
six==1.16.0
SQLAlchemy==1.4.25
stringcase==1.2.0
tableschema==1.20.2
tableschema-sql==1.3.2
tabulate==0.8.9
tabulator==1.53.5
text-unidecode==1.3
typer==0.4.0
ujson==4.2.0
unicodecsv==0.14.1
Unidecode==0.4.21
urllib3==1.26.7
validators==0.18.2
vine==1.3.0
wcwidth==0.2.5
Werkzeug==0.16.1
xlrd==2.0.1
xmljson==0.2.1
